@use "../../styles/variables";
@import "../../styles/mediaqueries";

.cardsListWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-top: 20px;
  gap: 30px;
  box-sizing: border-box;

  

  @include devices(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 1fr);
  }

  @media screen and (min-width: 426px)  and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    
  }

  @media screen and (min-width: 320px) and (max-width: 425px) {
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
  }
  

  & a {
    display: flex;
    justify-content: center;
  }
}
