@use "../../styles/mixins";
@use "../../styles/variables";
@import "../../styles/mediaqueries";

.mainInfoDescription {
  @include devices(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include devices(laptop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.productDetails {
  width: 48%;
  padding-left: 10px;

  @include devices(tablet) {
    padding: 0 15px;
  }
  @include devices(mobile) {
    width: 100%;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 31px;
  }
}

.productShortName {
  @include devices(laptop) {
    display: none;
  }
  @include devices(tablet) {
    display: none;
  }
  @include devices(mobile) {
    display: flex;
    margin-bottom: 24px;
    color: variables.$main-text-color;
    font-size: variables.$fs-x;
    line-height: 16px;
    @include mixins.font-family-medium;
  }
}
.productName {
  @include mixins.font-family-bold;
  margin-bottom: 20px;
  color: variables.$main-text-color;
  font-size: variables.$fs-xxl;
  @include devices(tablet) {
    font-size: variables.$fs-l;
  }
  @include devices(mobile) {
    display: none;
  }
}
.productPrice {
  @include mixins.font-family-bold;
  padding-bottom: 13px;
  color: variables.$fc-price;
  font-size: 22px;
  line-height: 16px;
  border-bottom: 0.3px solid variables.$border-color-main;
  @include devices(tablet) {
    font-size: variables.$fs-x;
  }
  @include devices(mobile) {
    border-bottom: none;
  }
}

.descTitle,
.size {
  @include mixins.font-family-medium;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 10px;
  color: variables.$main-text-color;
  font-size: 15px;
  line-height: 16px;
}
.descTitle {
  @include devices(mobile) {
    display: block;
  }
}
.descriptionText {
  @include mixins.font-family-regular;
  margin-bottom: 24px;
  color: #727272;
  font-size: 14px;
  line-height: 24px;
}
.selectContainer {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.selectedOption {
  @include mixins.font-family-bold;
  width: 150px;
  height: 30px;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 16px;
  border-radius: 6px;
}
.quantityCounter {
  @include devices(tablet) {
    order: 1;
    margin-bottom: 20px;
  }
}
.decrease,
.increase {
  padding: 9px 15px;
  color: #ffffff;
  font-size: 16px;
  background-color: #7c8d66;
  border: none;
  border-radius: 29px;
  cursor: pointer;
}

.quantity {
  @include mixins.font-family-regular;
  color: variables.$main-text-color;
  font-size: 20px;
  line-height: 10px;
  border: none;
  text-align: center;
  width: 50px;
}

.buyButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 24px 0;
}

.addToCartBtn {
  margin-right: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  @include mixins.font-family-bold;

  @include devices(laptop) {
    order: 2;
  }
  @include devices(tablet) {
    order: 3;
    margin-right: 10px;
  }
  @include devices(mobile) {
    display: block;
  }
}
.addToFavorite {
  padding: 9px 10px;
  background-color: #ffffff;
  border: 1px solid #7c8d66;
  border-radius: 6px;
  @include devices(laptop) {
    order: 2;
  }
  @include devices(tablet) {
    order: 3;
  }
}
.sku {
  @include mixins.font-family-regular;
  margin-bottom: 10px;
  color: #727272;
  font-size: 15px;
  line-height: 16px;
  span {
    color: #a5a5a5;
    text-transform: uppercase;
  }
}
.categories {
  @include mixins.font-family-regular;
  margin-bottom: 10px;
  color: #727272;
  font-size: 15px;
  line-height: 16px;
  span {
    color: #acacac;
  }
}
.productColors {
  @include mixins.font-family-regular;
  margin-bottom: 18px;
  color: #727272;
  font-size: 15px;
  line-height: 16px;
  span {
    color: #acacac;
  }
}
.shareProducts {
  @include mixins.font-family-medium;
  color: #3d3d3d;
  font-size: 15px;
  line-height: 16px;

  a {
    margin-left: 16px;
    vertical-align: middle;
  }

  @include devices(mobile) {
    display: none;
  }
}

.descriptionContainer {
  margin-top: 100px;
  @include devices(mobile) {
    display: none;
  }
}
.tabs {
  display: flex;
  margin-bottom: 18px;
  color: rgba(61, 61, 61, 1);
  font-size: 17px;
  line-height: 16px;
  border-bottom: 0.3px solid #7c8d66;
  cursor: pointer;
  @include mixins.font-family-regular;
  .activeTab {
    @include mixins.font-family-bold;
    padding-bottom: 12px;
    color: #7c8d66;
    font-size: 17px;
    line-height: 16px;
    border-bottom: 2px solid #7c8d66;
    cursor: pointer;
  }
}
.descriptionTab {
  margin-right: 30px;
}
.tabContent {
  @include mixins.font-family-regular;
  min-height: max-content;
  color: #727272;
  font-size: 14px;
  line-height: 24px;
}
//donate
.donateInfo {
  margin-bottom: 40px;
}
.donateInfoLabel {
  margin-bottom: 0;
  color: variables.$fc-text;
  @include mixins.font-family-regular;
  font-size: 14px;
  line-height: 2;
}
.donateInfoAmount {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: baseline;
}
.donateInfoResult {
  @include mixins.font-family-bold;
  font-size: 32px;
  line-height: 1.25;
}
.donateInfoGoal {
  font-size: 20px;
  line-height: 1.2;
}
.donateInfoTimer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.donateBtnContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.donateBtn {
  width: 50%;
  margin-top: 20px;
  padding: 12px 25px;
  color: white;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  background-color: #46a358;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  @include mixins.font-family-bold;
}

//lots page
.lotRate {
  @include mixins.font-family-regular;
  color: rgb(26, 26, 26);
  font-size: 14px;
  line-height: 120%;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border-top: 1px solid transparent;
  border-right: none;
  border-bottom: 1px solid #7c8d66;
  border-left: none;
  transition: all 300ms linear 0s;
}
.lotDetails {
  display: grid;
  gap: 20px;
  width: 100%;
}
.lotInfo {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
  justify-content: space-between;
}
.lotInfoDetails {
  @include mixins.font-family-medium;
  font-size: 16px;
  line-height: 16px;
}
.rateUpBtnWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.rateContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.descriptionOfProduct {
  margin-top: 10px;
}
.timer {
  @include mixins.font-family-bold;
  text-transform: uppercase;
}
