@use "../../styles/variables";
@import "../../styles/mediaqueries";

.cardItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 350px;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.decorLot,
.decorDonat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 6px;
  font-weight: 700;
  line-height: 1;
  background-color: variables.$bgc-hot;
  white-space: nowrap;
  vertical-align: baseline;
}

.decorDonat {
  width: 100px;
  background-color: variables.$bgc-attention;
}
.cardContainer {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-height: 350px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.cardItemImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 16px 16px 0;
}

.cardItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.cardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 16px 0;
}
.cardItemTextWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardItemHeadline {
  padding-top: 9px;
  color: #3d3d3d;
  font-weight: 400;
  font-size: variables.$fs-m;
  line-height: 16px;
}

.cardItemPrice,
.cardItemGoalLot,
.cardItemGoalDonat {
  padding-top: 4px;
  font-weight: 700;
}

.cardItemPrice {
  color: variables.$fc-price;
  padding-top: 20px;
}

.cardItemGoalLot {
  color: variables.$fc-hot;
}

.cardItemGoalDonat {
  color: variables.$fc-attention;
}

.cardItemDecor {
  position: absolute;
  top: 310px;
  display: none;
  width: 100%;
  height: 1px;
  background-color: variables.$fc-main;
}



//із-за цього коду з'явився горизонтальний скрол! 
// .cardItemIconsWrapper {
//   position: absolute;
//   top: 170px;
//   display: flex;
//   justify-content: center;
//   width: 100%;
//   height: 40px;
//   border-radius: 0 0 20px 20px;
//   opacity: 1;
//   transition: all 0.3s ease;

//   @include devices(laptop) {
//     top: 185px;
//     visibility: hidden;
//     opacity: 0;
//   }
// }

.cardItemIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.cardItemIcon {
  width: 25px;
  padding-top: 5px;
}
